
button{
   border-radius: 5px;
    border: none;
    font-size: 1.5em;
    background-color: white;
    margin: 0.1em;
    cursor: pointer;

}

button:active{
    background-color: #ccc;
}
.wrapper{
    background-color: black;
    border-radius: 1em;
    padding: 1em;
    display: grid;
    width: 235px;
    height:450px ;
    grid-template-columns: repeat(4,1fr);
}
.orange{
    background-color:#FF9500 ;
    color: black;
}
.AC{
    grid-row: 3;
    grid-column: span 2;
}
.operation{
    grid-column: 4;
}
.gridTriple{
    grid-column: span 3 ;
}
.gridDouble{
    grid-column: span 2 ;
}
.porcentage{
    grid-column: 4/ 4 ;
}
.changeSing{
    grid-column:span 3;
    
}

.result{
    grid-column: span 4 ;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2.1em;
    overflow: hidden;
}